<h1>Editar Projeto</h1>
<div class="row">
  <div class="divider"></div>
  <div class="section">
    <%= link_to 'Visualizar', "/project/#{@project.id}", class: "btn waves-effect waves-light" %>
    <%= link_to 'Voltar', projects_path, class: "btn waves-effect waves-light" %>
  </div>
  <div class="divider"></div>
  <div class="section">
    <%= render 'form', project: @project %>
  </div>
</div>
